<app-nav></app-nav>

<div class="container-fluid" style="margin-top: 100px;">
    <div class="row">
        <div class="col">
            <div class="card card-block rounded-0 mb-2"
                style="border-width:5px;background-color:rgba(54,63,99,0.75);border-color:rgba(45,53,82,0.75);">
                <p class="display-3 mb-2" style="color:#d9b3ff;font-size: 25px;margin-left: 10px;"><i class="fas fa-info"></i>
                     Infomation
                </p>
                <div class="mb-2" style="height:2px;width:100%;background-color:#d9b3ff;"></div>
                <div style="padding: 1%;">
                    <p class="mb-1" style="text-align:justify;color:#d9b3ff;">
                        <span ><i class="fas fa-exclamation-triangle"></i> This website is NOT SECURE. Do not use any vital information that may contain information about you. Use a fake one if you wish to test this website.</span><br>
                        <span ><br><i class="fas fa-exclamation-triangle"></i> Found error or have suggestion? Send me a message in chat.</span><br>
                        <span ><br><i class="fas fa-exclamation-triangle"></i> All information from this website is taken from <a style="color: blue;" href="https://myanimelist.net/" target='_blank'>myanimelist.net</a> using <a href="https://jikan.moe/" style="color: blue;" target='_blank'>Jikan API</a>.</span><br>
                    </p>

                </div>
            </div>
            <div class="card card-block rounded-0 mb-2"
                style="border-width:5px;background-color:rgba(54,63,99,0.75);border-color:rgba(45,53,82,0.75);">
                <p class="display-3 mb-2" style="color:#d9b3ff;font-size: 25px;margin-left: 10px;"><i
                        class="far fa-address-card"></i> About
                </p>
                <div class="mb-2" style="height:2px;width:100%;background-color:#d9b3ff;"></div>
                <div style="padding: 1%;">
                    <p class="mb-1" style="text-align:justify;color:#d9b3ff;">
                        <span>Circle a.k.a Tron is responsible for the site. My programming languages include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, Android, SQL, and Algorithm.<br></span><br>
                        <span>Visit my <a style="color: blue;" href="https://github.com/CircleQMinh" target='_blank'>Github Repository.</a></span>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>