<app-nav></app-nav>


<div class="container-fluid " style="margin-top: 100px;">

    <div class="row">
        <div class="col">
            <ol class="breadcrumb">
                <li><a style="color: yellowgreen;"><span itemprop="name">{{url}}
                </span></a></li>
                <li><a style="color: yellowgreen;"><span itemprop="name">{{name}}
                </span></a></li>
                <li><a style="color: yellowgreen;"><span itemprop="name">Character List
                        </span></a></li>
            </ol>
            <div style="border: solid 4px #999679;border-radius: 1%;  background-color: #24282b;display: table-cell;
                        height: 100%;" id="info-tab">
                <ol class="breadcrumb">
                    <li><a style="color: yellowgreen;"><span itemprop="name">Main Character(s)
                            </span></a></li>
                </ol>
                <div class="div-flex-center-content-row">

                    <div *ngFor="let o of charListMain,index as i">
                        <div class="subtray" ngbTooltip="{{o.name }} " [openDelay]="100" [closeDelay]="100"
                            placement="auto" container="body" tooltipClass="tooltip-inner"
                            routerLink="/character/{{o.mal_id}}" *ngIf="o">
                            <div class="item">
                                <a class="_trackLink" trackingclick="" ztrackingclick="" tracking="">
                                    <img class="_slideimg" img_index="1" width="100%" height="100%"
                                        src="{{o.image_url}}" alt="???"></a>

                                <div class="description">
                                    <h4 class="title">
                                        <a class="_trackLink">
                                            {{o.name}}
                                        </a>
                                    </h4>
                                </div><!-- END .description -->
                            </div>
                            <!--END .item-->
                        </div>
                        <!--END .subtray-->
                    </div>
                </div>
                <ol class="breadcrumb">
                    <li><a style="color: yellowgreen;"><span itemprop="name">Support Character(s)
                            </span></a></li>
                </ol>
                <div class="div-flex-center-content-row">

                    <div *ngFor="let o of charList,index as i">
                        <div class="subtray" ngbTooltip="{{o.name }} " [openDelay]="100" [closeDelay]="100"
                            placement="auto" container="body" tooltipClass="tooltip-inner"
                            routerLink="/character/{{o.mal_id}}" *ngIf="o">
                            <div class="item">
                                <a class="_trackLink" trackingclick="" ztrackingclick="" tracking="">
                                    <img class="_slideimg" img_index="1" width="100%" height="100%"
                                        src="{{o.image_url}}" alt="???"></a>

                                <div class="description">
                                    <h4 class="title">
                                        <a class="_trackLink">
                                            {{o.name}}
                                        </a>
                                    </h4>
                                </div><!-- END .description -->
                            </div>
                            <!--END .item-->
                        </div>
                        <!--END .subtray-->
                    </div>
                </div>
                <div style="margin-top: 10px;" id="quick-search" class="container-fluid" *ngIf="!isLoading">
                    <div class="row">
                        <div class="col">
            
                            <div style="margin:0 auto;
                    width: 100%;display: block;text-align: center;margin-bottom: 2%;">
            
                                <button type="button" class="btn btn-danger" 
                                routerLink="/{{url}}/{{id}}/"   >Back to {{url}} page</button>
                            </div>
                        </div>
            
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<app-footer></app-footer>