<app-nav></app-nav>

<ngb-carousel #carousel [interval]="2400" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
    [showNavigationArrows]="true" [showNavigationIndicators]="true" [keyboard]="true" [pauseOnHover]="true"
    [wrap]="true" (slide)="onSlide($event)" id="slide-show1" style="    display: block;
    margin-top: 40px;">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide" class="mh-100" class="img-slide-show-tron">
        </div>
        <!-- <div class="carousel-caption">
                <button routerLink="/products/category/Fruit">Shop Now <i class="fas fa-arrow-right"></i></button>
          </div> -->
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[1]" alt="Random second slide" class="mh-100" class="img-slide-show-tron">
        </div>
        <!-- <div class="carousel-caption">
                <button routerLink="/products/category/Vegetable">Shop Now <i class="fas fa-arrow-right"></i></button>
          </div> -->
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random second slide" class="mh-100" class="img-slide-show-tron">
        </div>
        <!-- <div class="carousel-caption">
                <button routerLink="/products/category/Vegetable">Shop Now <i class="fas fa-arrow-right"></i></button>
          </div> -->
    </ng-template>
</ngb-carousel>
<div style="margin:0 auto;
width: 50%;display: block;margin-top: 3%;text-align: center;">
    <p class="search-header">Search for your favorite character!</p>

    <p class="search-header">.. or randomly find one!</p>
</div>
<div style="margin-top: 3%;" id="quick-search" class="container-fluid">
    <div class="row">
        <div class="col">

            <div style="margin:0 auto;
    width: 100%;display: block;margin-top: 3%;text-align: center;">
                <button type="button" class="btn btn-warning" ngbTooltip="Search for a character"
                    style="margin-right: 10px;" (click)="switchMode(1)">Search</button>
                <button type="button" class="btn btn-success" ngbTooltip="Find one character randomly"
                    (click)="switchMode(2)">Random Character</button>
            </div>




        </div>

    </div>
</div>
<div class="card-body row no-gutters align-items-center" style="background-color: #ffef73;" *ngIf="mode==1">


    <input class="form-control form-control-lg form-control-borderless" type="search"
        placeholder="Type here to search..." value="" name="q" id="q" rel="on" autocomplete="off"
        style="width: 100%;text-align: center;" id="typeahead-focus" type="text" [(ngModel)]="keyword">
    <div style="margin:0 auto;
        width: 100%;display: block;margin-top: 3%;text-align: center;">
        <button type="button" class="btn btn-primary" style="width: 30%;" (click)="search()">Go</button>
        <p>Press 'Go' button to search!</p>
    </div>
    <div class="div-display" id="info-tab" style="margin-top: 20px;" *ngIf="showSearchResult">

        <ol class="breadcrumb" style="margin-top: 15px;width: 97%;">
            <li><a style="color: yellowgreen;"><span itemprop="name">Characters Found :
                    </span></a></li>

        </ol>
        
        <div class="spinner-border text-primary" role="status" *ngIf="isLoading">

        </div>
        <p style="color: white;" *ngIf="isLoading"> Getting results ...</p>
        <div class="div-flex-center-content-row" *ngIf="searchResult.length>0">
            <div *ngFor="let o of searchResult,index as i">
                <div class="subtray" ngbTooltip="{{o.name }} " [openDelay]="100" [closeDelay]="100" placement="auto"
                    container="body" tooltipClass="tooltip-inner" routerLink="/character/{{o.mal_id}}" *ngIf="o">
                    <div class="item">
                        <a class="_trackLink" trackingclick="" ztrackingclick="" tracking="">
                            <img class="_slideimg" img_index="1" width="100%" height="100%" src="{{o.image_url}}"
                                alt="???"></a>

                        <div class="description">
                            <h4 class="title">
                                <a class="_trackLink">
                                    {{o.name}}
                                </a>
                            </h4>
                        </div><!-- END .description -->
                    </div>
                    <!--END .item-->
                </div>
                <!--END .subtray-->
            </div>
        </div>
        <div class="div-flex-center-content-row" *ngIf="searchResult.length==0">
        
            <p *ngIf="noResult">Failed to load data or there is no data load... Please try again!</p>
        </div>
        <div class="navi-tron" style="margin-bottom: 20px;">
            <button type="button" class="btn btn-primary" (click)="prevSearchPage()"><i
                    class="fas fa-arrow-left"></i></button>
            <div>
                <p>Page {{current_page}} of {{last_page}}</p>
            </div>
            <button type="button" class="btn btn-primary" style="float: right;" (click)="nextSearchPage()"><i
                    class="fas fa-arrow-right"></i></button>
        </div>
    </div>

</div>
<div class="div-center-content" *ngIf="mode==2">
    Work in progress :v
</div>
<app-footer></app-footer>