<!-- Navigation-->


<nav class="navbar navbar-expand-lg navbar-light bg-warning" style="z-index: 999;height: 90px;margin-top: -25px;">
    <a class="navbar-brand" routerLink="/home"><i class="fas fa-store"></i> Circle's Random Anime Site</a>

    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]="isCollapsed"
        style="padding-top: 5px;background-color: #ffc107!important;height: 60px; ">
        <ul class="navbar-nav ml-auto topnav" style="background-color: #ffc107;">
            <li class="nav-item">




            </li>

            <!-- <img src="https://image.flaticon.com/icons/png/128/2965/2965851.png"
                     style="width: 16px;height: 16px;"> -->
            <li class="nav-item active">
                <button class="btn btn-outline-primary" routerLink="/home"><i class="fas fa-home"></i> Home</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-primary" ngbTooltip="Work in progress :v !"><i class="fas fa-info"></i> Visit Manga Site</button>
            </li>
            <li class="nav-item active">
                <button class="btn btn-outline-primary" ngbTooltip="Work in progress :v !"> <i class="far fa-newspaper"></i> News
                </button>
            </li>
            <li class="nav-item dropdown">
                <div class="btn-group mr-3">
                    <div class="btn-group" ngbDropdown role="group">
                        <button class="btn btn-outline-primary"   aria-label="dropdownMenu1" id="dropdownMenu1" ngbDropdownToggle><i class="fas fa-bars"></i>
                            Status</button>
                        <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownMenu1">
                            <a ngbDropdownItem (click)=" goToSearchStatus('')"><i class="fas fa-clipboard-list"></i> All</a>
                            <hr>
                            <a ngbDropdownItem (click)=" goToSearchStatus('airing')"><i class="fas fa-tv"></i>
                                Airing</a>
                            <a ngbDropdownItem (click)=" goToSearchStatus('completed')"><i class="fas fa-check"></i>
                                Complete</a>
                            <a ngbDropdownItem (click)=" goToSearchStatus('upcoming')"><i class="far fa-clock"></i>
                                Upcoming</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <div class="btn-group mr-3">
                    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                        <button class="btn btn-outline-primary" ngbDropdownToggle><i class="fas fa-bars"></i>
                           Year</button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <a ngbDropdownItem (click)="goToSearchYear('')"><i class="fas fa-clipboard-list"></i> All</a>
                            <hr>
                            <a ngbDropdownItem (click)="goToSearchYear('2021')"><i class="far fa-calendar-alt"></i> 2021</a>
                            <a ngbDropdownItem (click)="goToSearchYear('2020')"><i class="far fa-calendar-alt"></i> 2020</a>
                            <a ngbDropdownItem (click)="goToSearchYear('2019')"><i class="far fa-calendar-alt"></i> 2019</a>
                            <a ngbDropdownItem (click)="goToSearchYear('2018')"><i class="far fa-calendar-alt"></i> 2018</a>
                            <a ngbDropdownItem (click)="goToSearchYear('2017')"><i class="far fa-calendar-alt"></i> 2017</a>
                            <a ngbDropdownItem (click)="goToSearchYear('2016')"><i class="far fa-calendar-alt"></i> 2016</a>
                            <a ngbDropdownItem (click)="goToSearchYear('2015')"><i class="far fa-calendar-alt"></i> 2015</a>

                        </div>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <a ngbDropdownItem routerLink="/products"><i class="fas fa-clipboard-list"></i> All</a>
                            <hr>
                            <a ngbDropdownItem routerLink="/products/category/Fruit"><i class="fas fa-apple-alt"></i>
                                Fruit</a>
                            <a ngbDropdownItem routerLink="/products/category/Vegetable"><i class="fas fa-seedling"></i>
                                Vegetable</a>
                            <a ngbDropdownItem routerLink="/products/category/Confectionery"><i
                                    class="fas fa-candy-cane"></i> Confectionery</a>
                            <a ngbDropdownItem routerLink="/products/category/Snack"><i class="fas fa-pizza-slice"></i>
                                Snack</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <div class="btn-group mr-3">
                    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                        <button class="btn btn-outline-primary" ngbDropdownToggle><i class="fas fa-bars"></i>
                            Genre</button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <a ngbDropdownItem (click)=" goToSearchGenre(null!)"><i class="fas fa-clipboard-list"></i> All</a>
                            <hr>
                            <a ngbDropdownItem (click)="goToSearchGenre(1)">Action</a>
                            <a ngbDropdownItem (click)="goToSearchGenre(2)">Adventure</a>
                            <a ngbDropdownItem (click)="goToSearchGenre(7)">Mystery</a>
                            <a ngbDropdownItem  (click)="goToSearchGenre(4)">Comedy</a>
                            <a ngbDropdownItem  (click)="goToSearchGenre(10)">Fantasy</a>
                            <a ngbDropdownItem  (click)="goToSearchGenre(14)">Horror</a>
                            <a ngbDropdownItem  (click)="goToSearchGenre(30)">Sports</a>
                            <a ngbDropdownItem  (click)="goToSearchGenre(40)">Psychological</a>
                            <a ngbDropdownItem  (click)="goToSearchGenre(36)">Slice Of Life</a>
                        </div>

                    </div>
                </div>
            </li>
            
            <li class="nav-item">
                <button class="btn btn-outline-primary"  ngbTooltip="Work in progress :v !"><i class="fas fa-info"></i> About us</button>
            </li>
            
         
            <li class="nav-item">
                <button class="btn btn-outline-primary"  ngbTooltip="Work in progress :v !"><i class="far fa-question-circle"></i>Help</button>
            </li>

        </ul>
    </div>


</nav>



