<!-- Navigation-->


<nav class="navbar navbar-expand-lg navbar-light bg-warning" style="z-index: 999;height: 90px;margin-top: -25px;">
    <a class="navbar-brand" routerLink="/home"><i class="fas fa-store"></i> Tron's Info</a>

    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]="isCollapsed"
        style="padding-top: 5px;background-color: #ffc107!important;height: 60px; ">
        <ul class="navbar-nav ml-auto topnav" style="background-color: #ffc107;">
            <li class="nav-item">




            </li>

            <!-- <img src="https://image.flaticon.com/icons/png/128/2965/2965851.png"
                     style="width: 16px;height: 16px;"> -->
            <li class="nav-item active">
                <button class="btn btn-outline-primary" routerLink="/home"><i class="fas fa-home"></i> Home</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-primary"><i class="fas fa-info"></i> Visit Manga Site</button>
            </li>
            <li class="nav-item active">
                <button class="btn btn-outline-primary" routerLink="/home"> <i class="far fa-newspaper"></i> News
                </button>
            </li>
            <li class="nav-item active">
                <button class="btn btn-outline-primary" routerLink="/home"><i class="fas fa-vote-yea"></i>
                    Status</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-primary" routerLink="/blogs"><i class="fas fa-calendar-check"></i>
                    Year</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-primary"><i class="fas fa-draw-polygon"></i> Schedule</button>
            </li>
            <li class="nav-item dropdown">
                <div class="btn-group mr-3">
                    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                        <button class="btn btn-outline-primary" ngbDropdownToggle><i class="fas fa-bars"></i>
                            Genre</button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <a ngbDropdownItem routerLink="/products"><i class="fas fa-clipboard-list"></i> All</a>
                            <hr>
                            <a ngbDropdownItem routerLink="/products/category/Fruit"><i class="fas fa-apple-alt"></i>
                                Fruit</a>
                            <a ngbDropdownItem routerLink="/products/category/Vegetable"><i class="fas fa-seedling"></i>
                                Vegetable</a>
                            <a ngbDropdownItem routerLink="/products/category/Confectionery"><i
                                    class="fas fa-candy-cane"></i> Confectionery</a>
                            <a ngbDropdownItem routerLink="/products/category/Snack"><i class="fas fa-pizza-slice"></i>
                                Snack</a>
                        </div>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <a ngbDropdownItem routerLink="/products"><i class="fas fa-clipboard-list"></i> All</a>
                            <hr>
                            <a ngbDropdownItem routerLink="/products/category/Fruit"><i class="fas fa-apple-alt"></i>
                                Fruit</a>
                            <a ngbDropdownItem routerLink="/products/category/Vegetable"><i class="fas fa-seedling"></i>
                                Vegetable</a>
                            <a ngbDropdownItem routerLink="/products/category/Confectionery"><i
                                    class="fas fa-candy-cane"></i> Confectionery</a>
                            <a ngbDropdownItem routerLink="/products/category/Snack"><i class="fas fa-pizza-slice"></i>
                                Snack</a>
                        </div>
                    </div>
                </div>
            </li>
            
            <li class="nav-item">
                <button class="btn btn-outline-primary"><i class="fas fa-info"></i> About us</button>
            </li>
            
         
            <li class="nav-item">
                <button class="btn btn-outline-primary"><i class="far fa-question-circle"></i>Help</button>
            </li>
            <!-- <li class="nav-item" style="margin: 0px ;" routerLink="/cart-detail"> 
          <app-cart-status ></app-cart-status>
        </li>
  
        <li class="nav-item" *ngIf="!isLogin()">
          <button class="btn btn-outline-primary"  routerLink="/login"><i class="fas fa-sign-in-alt"></i> Sign In</button>
        </li>
        <li class="nav-item"  *ngIf="!isLogin()">
          <button class="btn btn-outline-primary" routerLink="/register"><i class="fas fa-edit"></i> Register</button>
        </li>
        <li class="nav-item" style="margin-top: 7px;" *ngIf="isLogin()">
          <p >Xin chào {{this.username}} !</p>
        </li>
        <li  class="nav-item"        *ngIf="isLogin()" >
          <img src="{{this.url}}"
          style="width: 40px;height: 40px;border-radius: 50%;border: 2px solid black;" 
   routerLink="/account-info">
        </li>
        <li class="nav-item" *ngIf="isLogin()" >
          <button class="btn btn-outline-danger" (click)="this.loginService.tryLogout()"><i class="fas fa-sign-out-alt"></i> Logout</button>
        </li>
       -->
        </ul>
    </div>


</nav>
<!-- Header-->
<!-- 
<input type="text" class="tbsearch inputSearch" value="" name="q" id="q" rel="on" autocomplete="off"
    style="width: 200px;" id="typeahead-focus" type="text" [(ngModel)]="keyword" [ngbTypeahead]="search"
    [resultTemplate]="rt" [inputFormatter]="formatter" (focus)="focus$.next($any($event).target.value)"
    (click)="click$.next($any($event).target.value)" (keyup)="getInfo()" (selectItem)="selectedItem($event)"
    #instance="ngbTypeahead">
<button class="btn btn-outline-primary"><i class="fas fa-search"></i></button> -->


