<app-nav></app-nav>
<ngb-carousel #carousel [interval]="2400" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
    [showNavigationArrows]="true" [showNavigationIndicators]="true" [keyboard]="true" [pauseOnHover]="true"
    [wrap]="true" (slide)="onSlide($event)" id="slide-show1" style="    display: block;
    margin-top: 40px;">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide" class="mh-100" style="width: 100%; height: 423px">
        </div>
        <!-- <div class="carousel-caption">
                <button routerLink="/products/category/Fruit">Shop Now <i class="fas fa-arrow-right"></i></button>
          </div> -->
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[1]" alt="Random second slide" class="mh-100" style="width: 100%; height: 423px">
        </div>
        <!-- <div class="carousel-caption">
                <button routerLink="/products/category/Vegetable">Shop Now <i class="fas fa-arrow-right"></i></button>
          </div> -->
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random second slide" class="mh-100" style="width: 100%; height: 423px">
        </div>
        <!-- <div class="carousel-caption">
                <button routerLink="/products/category/Vegetable">Shop Now <i class="fas fa-arrow-right"></i></button>
          </div> -->
    </ng-template>
</ngb-carousel>
<div style="margin:0 auto;
width: 50%;display: block;margin-top: 3%;text-align: center;">
    <p class="search-header">Search for your favorite manga!</p>
</div>
<app-searchbar></app-searchbar>
<div style="margin:0 auto;
width: 50%;display: block;margin-top: 3%;text-align: center;">
    <p class="search-header">... or browse by category.</p>
</div>
<div style="margin-top: 3%;" id="quick-search" class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="category-quicknav">
                <button type="button" class="btn btn-primary" (click)="goToSearchGenre(1)">Action</button>
                <button type="button" class="btn btn-secondary" (click)="goToSearchGenre(2)">Adventure</button>
                <button type="button" class="btn btn-success" (click)="goToSearchGenre(4)">Comedy</button>
                <button type="button" class="btn btn-danger" (click)="goToSearchGenre(7)">Mystery</button>
                <button type="button" class="btn btn-warning" (click)="goToSearchGenre(8)">Drama</button>
                <button type="button" class="btn btn-info" (click)="goToSearchGenre(10)">Fantasy</button>
                <button type="button" class="btn btn-light" (click)="goToSearchGenre(14)">Horror</button>
                <button type="button" class="btn btn-dark" (click)="goToSearchGenre(30)">Sports</button>
                <button type="button" class="btn btn-secondary" (click)="goToSearchGenre(40)">Psychological</button>
                <button type="button" class="btn btn-info" (click)="goToSearchGenre(24)">Sci Fi</button>
                <button type="button" class="btn btn-success" (click)="goToSearchGenre(23)">School</button>
                <button type="button" class="btn btn-primary" (click)="goToSearchGenre(19)">Music</button>
                <button type="button" class="btn btn-dark" (click)="goToSearchGenre(37)">Supernatural</button>
                <button type="button" class="btn btn-success" (click)="goToSearchGenre(36)">Slice Of Life</button>
                <button type="button" class="btn btn-danger" (click)="goToSearchGenre(35)">Harem</button>
                <button type="button" class="btn btn-warning" (click)="goToSearchGenre(32)">Vampire</button>
                <button type="button" class="btn btn-primary" (click)="goToSearchGenre(27)">Shounen</button>
                <button type="button" class="btn btn-dark" (click)="goToSearchGenre(25)">Shoujo</button>
                <button type="button" class="btn btn-warning" (click)="goToSearchGenre(31)">Super Power</button>
                <hr style="margin-top: 10px;">
            </div>

            <button type="button" class="btn btn-danger" style="margin:0 auto;
    width: 50%;display: block;margin-top: 3%;text-align: center;" (click)="goToSearchGenre(null!)">View All
                Category</button>
            <div style="margin:0 auto;
    width: 50%;display: block;margin-top: 3%;text-align: center;">
                <p class="search-header">Other search option</p>
            </div>
            <div style="margin:0 auto;
    width: 100%;display: block;margin-top: 3%;text-align: center;">

                <button type="button" class="btn btn-primary" (click)="goToSearchLetter()"
                    ngbTooltip="Search anime or manga by the letter/character it starts with">Starting Letter</button>
            </div>

        </div>
    </div>
    <div style="margin:0 auto;
    width: 50%;display: block;margin-top: 3%;text-align: center;">
        <div class="spinner-border text-primary" role="status" *ngIf="isLoading">

        </div>
        <p style="color: black;" *ngIf="isLoading" class="search-header"> Loading...</p>
        <img *ngIf="isLoading" src="https://media.giphy.com/media/WtDLxQWQWLtw3oIXTy/giphy.gif" class="loading">
    </div>


</div>



<div class="section row272" style="margin-top:5% ;">
    <div class="section-content fluid" style="max-width: 100%;">

        <div class="row " style="margin-left:0px;" *ngIf="!isLoading">
            <div class=" col">

                <div style="border: solid 4px #999679;border-radius: 1%;padding-left: 3%;  background-color: #bfd0df;"
                    id="info-tab">
                    <h1 class="home-header"><i class="fas fa-star"></i> Recommended Manga!</h1>


                    <div *ngFor="let o of newestItem,index as i">
                        <div class="subtray" ngbTooltip="{{o.title +'--->'+ o.synopsis}} " [openDelay]="100"
                            [closeDelay]="100" placement="auto" container="body" tooltipClass="tooltip-inner"
                            routerLink="/manga/{{o.mal_id}}" *ngIf="o">
                            <div class="item">
                                <a class="_trackLink" trackingclick="" ztrackingclick="" tracking="">
                                    <img class="_slideimg" img_index="1" width="100%" height="100%"
                                        src="{{o.image_url}}" alt="???"></a>

                                <div class="description">
                                    <h4 class="title">
                                        <a class="_trackLink">
                                            {{o.title}}
                                        </a>
                                    </h4>
                                    <h5 class="subtitle">
                                        <a class="_trackLink ellipsis">
                                            {{o.score}}<i class="far fa-star"></i>
                                        </a>
                                    </h5>
                                </div><!-- END .description -->
                            </div>
                            <!--END .item-->
                        </div>
                        <!--END .subtray-->
                    </div>
                    <div style="display: block; margin-top: 10px;">
                        <div style="    width: 1px;
                        float: none;
                        display: block;" id="pagi-newest">
                            <div style="margin:0 auto;
             width: 70%;display: block;">
                                <ngb-pagination [(page)]="pageNewest" [pageSize]="pageSizeNewest" size="sm"
                                    [collectionSize]="dataNewest.length" [maxSize]="3" [boundaryLinks]=true
                                    (pageChange)="getNewest()">
                                </ngb-pagination>
                            </div>

                        </div>
                    </div>
                </div>
                <div style="border: solid 4px #999679;border-radius: 1%;padding-left: 3%;margin-top: 2%;
                background-color: aliceblue;">
                    <h1 class="home-header" style="background-color: gold;"><i class="fas fa-grin-stars"></i>
                        Popular character</h1>
                    <div *ngFor="let o of topCharItem,index as i">
                        <div class="subtray"
                            ngbTooltip="{{o.title+'-'+o.name_kanji+' from '+o.animeography[0].name  }} "
                            [openDelay]="100" [closeDelay]="100" placement="auto" container="body"
                            tooltipClass="tooltip-inner" routerLink="/character/{{o.mal_id}}" *ngIf="o">
                            <div class="item">
                                <a class="_trackLink" trackingclick="" ztrackingclick="" tracking="">
                                    <img class="_slideimg" img_index="1" width="100%" height="100%"
                                        src="{{o.image_url}}" alt="???"></a>

                                <div class="description">
                                    <h4 class="title">
                                        <a class="_trackLink">
                                            {{o.title}}
                                        </a>
                                    </h4>
                                    <h5 class="subtitle">
                                        <a class="_trackLink ellipsis">
                                            {{o.rank}}<i class="fas fa-trophy"></i>
                                        </a>
                                    </h5>
                                </div><!-- END .description -->
                            </div>
                            <!--END .item-->
                        </div>
                        <!--END .subtray-->
                    </div>
                    <div style="margin-top: 20px;">
                        <div class="navi-tron" style="padding-top: 15px;">
                            <button type="button" class="btn btn-primary" (click)="prevTopChar()"><i
                                    class="fas fa-arrow-left"></i></button>
                            <div>
                                <p style="color: black;padding-top: 0px;">Page {{pageChar+1}} of 2</p>
                            </div>
                            <button type="button" class="btn btn-primary" style="float: right;"
                                (click)="nextTopChar()"><i class="fas fa-arrow-right"></i></button>
                        </div>
                    </div>


                </div>

            </div>
            <div class="col-lg-4" id="side-info" style="display: flex;
            flex-direction: column;">

                <!-- <div class="right-box top-film">


                    <h2 class="right-box-header star-icon"><span>
                            <i class="fas fa-trophy"></i> Most Popular Character</span>
                    </h2>

                    <div class="right-box-content" *ngIf="!isLoading">
                        <div class="content">
                            <ul class="list-top-movie">
                                <li class="list-top-movie-item" id="list-top-movie-item" *ngFor="let o of topCharItem">
                                    <div *ngIf="o">


                                        <a class="list-top-movie-link" title="{{o.title}}"
                                            routerLink="/character/{{o.mal_id}}">
                                            <span class="status">{{o.rank}}<img style="height: 10px;width: 10px;"
                                                    src="https://image.flaticon.com/icons/png/128/889/889518.png">
                                            </span>
                                            <div class="list-top-movie-item-thumb"
                                                style="background-image: url({{o.image_url}})">
                                            </div>
                                            <div class="list-top-movie-item-info">
                                                <span class="list-top-movie-item-vn">{{o.title}}-{{o.name_kanji}}</span>
                                                <span class="list-top-movie-item-en">
                                                    Fan : {{o.favorites}}</span>
                                                <span *ngIf="o.animeography"
                                                    class="list-top-movie-item-view">{{o.animeography[0].name}}</span>
                                                <span *ngIf="!o.animeography"
                                                    class="list-top-movie-item-view">{{o.mangaography[0].name}}</span>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-primary" (click)="prevTopChar()"><i
                                    class="fas fa-arrow-left"></i></button>
                            <button type="button" class="btn btn-primary" (click)="nextTopChar()"
                                style="float: right;"><i class="fas fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
                <hr> -->
                <div class="right-box top-film">


                    <h2 class="right-box-header star-icon"><span>
                            <i class="fas fa-trophy"></i> Top Rated Manga</span>
                    </h2>

                    <div class="right-box-content" *ngIf="!isLoading">
                        <div class="content">
                            <ul class="list-top-movie">
                                <li class="list-top-movie-item" id="list-top-movie-item" *ngFor="let o of upComingItem">
                                    <a class="list-top-movie-link" title="{{o.title}}" routerLink="/manga/{{o.mal_id}}">
                                        <span class="status">{{o.score}} <i class="far fa-star"></i>
                                        </span>
                                        <div class="list-top-movie-item-thumb"
                                            style="background-image: url({{o.image_url}})">
                                        </div>
                                        <div class="list-top-movie-item-info">
                                            <span class="list-top-movie-item-vn">{{o.title}}</span>
                                            <span class="list-top-movie-item-en">
                                                {{o.type}}</span>
                                            <span *ngIf="o.chapters"
                                                class="list-top-movie-item-view">Chapters : {{o.chapters }}</span>
                                            <span *ngIf="!o.start_date" class="list-top-movie-item-view">Coming
                                                Soon!</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-primary" (click)="prevUpComing()"><i
                                    class="fas fa-arrow-left"></i></button>
                            <button type="button" class="btn btn-primary" (click)="nextUpComing()"
                                style="float: right;"><i class="fas fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>

                <hr>
                <div class="right-box top-film" *ngIf="!isLoading">


                    <h2 class="right-box-header star-icon"><span>
                            <i class="fas fa-trophy"></i> Going for a long read?</span>
                    </h2>

                    <div class="right-box-content">
                        <div class="content">
                            <ul class="list-top-movie">
                                <li class="list-top-movie-item" id="list-top-movie-item" *ngFor="let o of bestItems">
                                    <a class="list-top-movie-link" title="{{o.title}}" routerLink="/manga/{{o.mal_id}}">
                                        <span class="status">{{o.volumes}} <i class="fas fa-book"></i>
                                        </span>
                                        <div class="list-top-movie-item-thumb"
                                            style="background-image: url({{o.image_url}})">
                                        </div>
                                        <div class="list-top-movie-item-info">
                                            <span class="list-top-movie-item-vn">{{o.title}}</span>
                                            <span class="list-top-movie-item-en">
                                                Rating : {{o.score}} <i class="fas fa-star"></i></span>
                                            <span *ngIf="o.chapters" class="list-top-movie-item-view">Chapters :
                                                {{o.chapters }}</span>
                                            <span *ngIf="!o.start_date" class="list-top-movie-item-view">Coming
                                                Soon!</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-primary" (click)="prevBest()"><i
                                    class="fas fa-arrow-left"></i></button>
                            <button type="button" class="btn btn-primary" (click)="nextBest()" style="float: right;"><i
                                    class="fas fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>