.carousel-control-prev-icon{
    height: 40px;
    width: 40px;
    background-image: url('https://apufpel.com.br/assets/img/seta_prim.png') !important;
}
.carousel-control-next-icon{
    background-image: url('https://apufpel.com.br/assets/img/seta_ult.png')!important;
    height: 40px;
    width: 40px;
}
.pagination {
    display: inline-flex;
    padding-left: 0;
    list-style: none;
    border-radius: 50%;
}
.tooltip-inner {
    max-width: 340px;
    text-align: left;
    background-color: #fff;
    color: #000;
    border-radius: 30px;
    box-shadow: 0 0 3px #00000040;
    word-wrap: normal;
  }
.letter-button{
    width: 20px;
    height: 20px;
    background-color: #d5d534;
    color: #000;
    text-align: center;
    font-family: cursive;
    cursor: pointer;
}
.letter-button :active{
    width: 20px;
    height: 20px;
    background-color: #d54c34;
    color: #000;
    text-align: center;
    font-family: cursive;
    cursor: pointer;
}

  