<div class="container"> <br>
    <div class="row justify-content-center">
        <div style="margin:0 auto;
            width: 50%;display: block;margin-top: 10px;text-align: center;">

            <p *ngIf="keywordError"><i class="fas fa-exclamation-triangle"></i>Search keyword must be atleast 3 characters long!
            </p>
            <div class="spinner-border text-primary" role="status" *ngIf="isLoading">

            </div>
            <p *ngIf="isLoading">Getting search result...</p>

        </div>

        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm">

                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto"></div>
                    <div class="col">

                        <input class="form-control form-control-lg form-control-borderless" type="search"
                            placeholder="Search for anime" value="" name="q" id="q" rel="on" autocomplete="off"
                            style="width: 100%;text-align: center;" id="typeahead-focus" type="text"
                            [(ngModel)]="keyword" [ngbTypeahead]="search" [resultTemplate]="rt"
                            [inputFormatter]="formatter" (focus)="focus$.next($any($event).target.value)"
                            (click)="click$.next($any($event).target.value)" (keyup)="getInfo();click$.next($any($event).target.value)"
                            (selectItem)="selectedItem($event)" #instance="ngbTypeahead">
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<div style="margin:0 auto;
width: 50%;display: block;margin-top: 10px;text-align: center;">
    <div class="col-auto"> <button class="btn btn-lg btn-success" type="submit">Search <i
                class="fas fa-search"></i></button></div>


</div>
<ng-template #rt let-r="result" let-t="term">
    <img [src]="r['imgurl']" class="mr-1" style="width: 80px;height: 80px;">
    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
</ng-template>