<!-- Site footer -->
<app-scroll></app-scroll>
<app-chat-box></app-chat-box>
<footer class="site-footer" style="margin-top: 5%;">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">Circle <i>a.k.a Tron </i> is responsible for the site. My programming languages include
          C, C++, Java, HTML, CSS, Bootstrap, JavaScript, Android, SQL and Algorithm.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Service</h6>
        <ul class="footer-links">
          <li routerLink="/search"><a>Search For Anime/Manga</a></li>
          <li routerLink="/character"><a>Search/Random an anime character</a></li>
          <li routerLink="/schedule"><a>Check Anime Schedule</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="https://myanimelist.net/" target='_blank'>MyAnimeList.net </a></li>
          <li><a href="https://jikan.moe/" target='_blank'>Jikan API</a></li>
          <li><a href="https://github.com/CircleQMinh" target='_blank'>My Github Page</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by
          <a href="#">Circle</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>