<app-nav></app-nav>
<ngb-carousel #carousel [interval]="2400" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
    [showNavigationArrows]="true" [showNavigationIndicators]="true" [keyboard]="true" [pauseOnHover]="true"
    [wrap]="true" (slide)="onSlide($event)">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide" class="mh-100" style="width: 100%; height: 423px">
        </div>
        <!-- <div class="carousel-caption">
                <button routerLink="/products/category/Fruit">Shop Now <i class="fas fa-arrow-right"></i></button>
          </div> -->
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[1]" alt="Random second slide" class="mh-100" style="width: 100%; height: 423px">
        </div>
        <!-- <div class="carousel-caption">
                <button routerLink="/products/category/Vegetable">Shop Now <i class="fas fa-arrow-right"></i></button>
          </div> -->
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random second slide" class="mh-100" style="width: 100%; height: 423px">
        </div>
        <!-- <div class="carousel-caption">
                <button routerLink="/products/category/Vegetable">Shop Now <i class="fas fa-arrow-right"></i></button>
          </div> -->
    </ng-template>
</ngb-carousel>

<app-searchbar></app-searchbar>

<div class="section row272" style="margin-top:5% ;">
    <div class="section-content fluid">
        <div class="title-bar group"  style="margin:0 auto;
        width: 50%;display: block;">


            <h3  style="margin:0 auto;
            width: 50%;display: block;">Newest Update!</h3>

        </div>
        <div 
            class="row justify-content-center"
            style="margin-left:0px;">
            <div class="col-12 col-sm-6 col-lg-8">
                <div *ngFor="let o of newestItem,index as i">
                    <div class="subtray">
                        <div class="item">
                            <a class="_trackLink" trackingclick="" ztrackingclick="" tracking="">
                                <img class="_slideimg" img_index="1" width="100%" height="100%" src="{{o.image_url}}"
                                    alt="Zing TV"></a>

                            <div class="description">
                                <h4 class="title">
                                    <a class="_trackLink" >
                                        {{o.title}}
                                    </a>
                                </h4>
                                <h5 class="subtitle">
                                    <a class="_trackLink ellipsis" 
                                        >
                                        {{o.score}}<i class="far fa-star"></i>
                                    </a>
                                </h5>
                            </div><!-- END .description -->
                        </div>
                        <!--END .item-->
                    </div>
                    <!--END .subtray-->
                </div>
            </div>
            <div class="col-6 col-sm-4" id="side-info">
                a
            </div>
        </div>

    </div>

</div>
<!-- <div   style="margin:0 auto;
width: 50%;display: block;">
    <div  style="margin:0 auto;
    width: 50%;display: block;" >
        <ngb-pagination [(page)]="pageNewest" [pageSize]="pageSize" [collectionSize]="collectionSize" [maxSize]="3"
            [boundaryLinks]=true (pageChange)="getPage()">
        </ngb-pagination>
    </div>
</div> -->
<!-- <app-footer></app-footer> -->